.bg {
    background-image: url("../Images/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
}

body {
    height: 100%;
    font-family:"Shizuru",cursive;
    font-size: 12px;
    color: black;
}

html {
    height: 100%;
}

header {
    display: flex;
}
header h1{
    display: flex;
    font-size:20px;
    margin:90;
}

footer {
    display: flex;
    font-size:10px;
    background:purple;
}

.icon-bar{
    width: 100%;
    overflow:auto;
}

.icon-bar a{
    float:left;
    width:20%;
    padding:12px O;
}

.icon-bar a:hover{
    animation:shake 0.5s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
